[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
jupyter = "*"

[packages]
amplify = {version=">=1.0.0", extras = ["extra"]}
jupyter = "*"
japanmap = "*"
matplotlib = "*"
appmode = "*"
ipywidgets = "*"
black = {extras = ["jupyter"], version = "*"}
geopy = "*"
folium = "*"
pandas = "*"
torch = "*"
scikit-learn = "*"
mypy = "*"
ipympl = "*"
sigfig = "*"
tqdm = "*"
opencv-python = "*"
pandas-datareader = "*"
plotly = "*"

[requires]
python_version = "3"
