[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
amplify = {extras = ["extra"], version = ">=0.10.4,<1.0.0"}
jupyter = "*"
japanmap = "*"
matplotlib = "*"
appmode = "*"
ipywidgets = "*"
black = {extras = ["jupyter"], version = "*"}
geopy = "*"
folium = "*"
pandas = "*"
numpy = "*"
torch = "*"
scikit-learn = "*"
mypy = "*"
ipympl = "*"
sigfig = "*"

[requires]
python_version = "3"
