[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
jupyter = "*"

[packages]
jupyter = "*"
japanmap = "*"
matplotlib = "*"
appmode = "*"
ipywidgets = "*"
black = {extras = ["jupyter"], version = "*"}
geopy = "*"
folium = "*"
pandas = "*"
torch = "*"
scikit-learn = "*"
mypy = "*"
ipympl = "*"
sigfig = "*"
tqdm = "*"
opencv-python = "*"
pandas-datareader = "*"
plotly = "*"
amplify = ">=1.4.1"

[requires]
python_version = "3"
